In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("clean_data_eda.csv")

In [4]:
df.head()

,make_model,body_type,price,vat,km,type,previous_owners,inspection_new,body_color,upholstery,...,ss_Side airbag,ss_Tire pressure monitoring system,ss_Traction control,ss_Traffic sign recognition,ss_Xenon headlights,consumption_comb,displacement_cc,register_age,fuel_new,hp_kw
0,Audi A1,Sedans,15770,VAT deductible,56013.0,Used,2.0,1,Black,Cloth,...,1,1,1,0,1,3.8,1422.0,4.0,Diesel,66.0
1,Audi A1,Sedans,14500,Price negotiable,80000.0,Used,1.0,0,Red,Cloth,...,1,1,1,0,1,5.6,1798.0,3.0,Benzine,141.0
2,Audi A1,Sedans,14640,VAT deductible,83450.0,Used,1.0,0,Black,Cloth,...,1,1,1,0,0,3.8,1598.0,4.0,Diesel,85.0
3,Audi A1,Sedans,14500,VAT deductible,73000.0,Used,1.0,0,Brown,Cloth,...,1,1,0,0,0,3.8,1422.0,4.0,Diesel,66.0
4,Audi A1,Sedans,16790,VAT deductible,16200.0,Used,1.0,1,Black,Cloth,...,1,1,1,0,1,4.1,1422.0,4.0,Diesel,66.0

In [8]:
dummied_data = pd.get_dummies(df, drop_first=1)

In [10]:
pd.to_pickle(dummied_data, "car_data_dummy.pkl")